body {
    background: CCCCCC;
}
h1 {
    text-align: center;
    border: 10px solid black;
    padding:20px ;
}
p {
    text-align: center;
}
em strong {
    color: red;
}
#missao{
    style="font-size: 20px;"
}
#banner{
    width: 100%;
}