body {
    background: #CCCCCC;
}
.principal {
     background: #CCCCCC;
}


p {
    text-align: center;
}
em strong {
    color: red;
}
#missao{
    style="font-size: 20px;"
}
#banner{
    width: 100%;
}
.beneficios { 
    background: #FFFFFF;
 }

.itens { 
       font-style: italic;
}
ul{ 
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 15%;
}

.titulo-principal{ 
    padding-left: 20px;
}
.titulo-centralizado { 
    text:center;
} 